/**
 * Site header
 */
.site-header {
  padding-top: 20px;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  font-family: "Arial";

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit * 6 0 $spacing-unit * 12;

  @include media-query($on-palm) {
    padding: $spacing-unit * 4 0 $spacing-unit * 8;
  }
}

.footer-heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  display: block;

  @include media-query($on-palm) {
    font-size: 36px;
    line-height: 40px;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  display: inline-block;

  > li {
    display: inline-block;
    padding: $spacing-unit/4;

    > a {
      padding: $spacing-unit/4;
      border-radius: $spacing-unit * 2;
      width: $spacing-unit * 2;
      text-align: center;
      display: inline-block;
      transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;

      &:hover,
      &:focus {
        background-color: $text-color;
        outline: none;
        box-shadow: $focus-shadow;

        > .icon > svg {
          path {
            fill: $background-color;
          }
        }
      }
    }
  }
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */

.page-heading-image {
  height: 100%;
  width: 25%;
  display: inline-block;
  float: right;
  margin-top: $spacing-unit;

  @media screen and (max-width: 688px) {
    display: none;
  }
}

.page-content {
  padding: $spacing-unit 0;
}

.page-section {
  margin-top: $spacing-unit * 6;

  @include media-query($on-palm) {
    margin-top: $spacing-unit * 4;
  }
}

.page-section-heading {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}

.page-heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  max-width: 480px;
  display: inline-block;

  @include media-query($on-palm) {
    font-size: 36px;
    line-height: 40px;
  }
}

.page-eyebrow {
  color: $grey-color;
  font-size: $small-font-size;
  line-height: 18px;
  display: block;
  margin-bottom: $spacing-unit/4 * 3;
}

.page-cta {
  padding: 8px 16px;
  border: solid $text-color 2px;
  background-color: $tan-background;
  color: $text-color;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 35px;
  display: inline-block;
  margin-top: $spacing-unit/2;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;

  &:hover,
  &:focus {
    background-color: $text-color;
    color: $background-color;
    border-color: $text-color;
    text-decoration: none;
    outline: none;
    box-shadow: $focus-shadow;
  }
}

.page-cta-primary {
  border: solid $brand-color 2px;
  background-color: $brand-color;
  color: $background-color;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  line-height: 18px;
  color: $grey-color;
  margin-bottom: $spacing-unit;
  display: block;
}

.post-excerpt {
  line-height: 28px;
}

.post-link {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;

  @include media-query($on-palm) {
    font-size: 24px;
    line-height: 28px;
  }
}

.post-wrapper {
  background-color: $tan-background;
  padding: 24px;
  border-radius: 8px;
  display: block;
  color: $text-color;
  display: flex;
  flex-wrap: wrap-reverse;
  // align-items: flex-start;
  // align-content: flex-start;
  justify-content: space-between;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $background-color;
    box-shadow: $focus-shadow;
    outline: none;

    .post-meta {
      color: $brand-color;
    }
  }
}

.post-overview {
  flex-basis: 65%;
  flex-grow: 2;
  @include media-query($on-palm) {
    flex-basis: 100%;
  }
}

.post-image {
  object-fit: contain;
  margin-left: $spacing-unit;

  @include media-query($on-palm) {
    margin-bottom: $spacing-unit;
    margin-left: 0;
    height: 80px;
  }
}

.home-photo-list {
  margin-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: $spacing-unit / -2;
}

.home-photo {
  flex-basis: 200px;
  flex-grow: 1;
  display: inline-block;
  margin: $spacing-unit / 2;
}

.image-link {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  border-radius: 8px;
  transition: box-shadow 0.2s;

  &:hover,
  &:focus {
    box-shadow: $focus-shadow;
    outline: none;
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: none;
}

.pop-out-width {
  width: 140%;
  position: relative;
  margin-left: -20%;
  margin-right: -20%;
  max-width: 140%;

  @include media-query($content-width * 1.4) {
      width: 100%;
      position: relative;
      margin-left: 0;
      margin-right: 0;
      max-width: none;
  }
}

.shadow {
  box-shadow: 0 0 0 2px $background-color, 0 0 0 2px $grey-color, 0 0 20px rgba($grey-color, 0.3);
  border-radius: 8px;
}

.add-margin {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.hidden {
  display: none;
}

.footer-link {
  color: $text-color;
  text-decoration: underline;
  margin-left: $spacing-unit / 2;
  border-radius: 40px;
  padding: 8px 16px;

  &:hover,
  &:focus {
    box-shadow: $focus-shadow;
    outline: none;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit * 4;
}

.post-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: $spacing-unit;

  @include media-query($on-palm) {
    font-size: 36px;
    line-height: 40px;
  }
}

.reflection {
  background-color: $tan-background;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: $spacing-unit;

  h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    margin: $spacing-unit * 4 0 $spacing-unit;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    margin: $spacing-unit * 2 0 $spacing-unit;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  p {
    margin-bottom: $spacing-unit;
  }
}
