---
layout: default
---

<div class="home">
  <div class="page-section">
    <span class="page-eyebrow"
      >Hey, I’m Brad – a product designer at Handshake</span
    >
    <div>
      <h1 class="page-heading">
        Let's work on building inclusive systems and experiences together
      </h1>
      <img
        class="page-heading-image"
        src="/assets/images/home/home-graphic.png"
      />
    </div>
    <a class="page-cta page-cta-primary" href="#footer">Get in touch</a>
  </div>

  {{ content }}
  <div class="page-section">
    <span class="page-eyebrow"
      >I've worked on a diverse set of projects, growing along the way</span
    >
    <!-- <h2 class="page-section-heading">I've had the opportunity to lead various projects, growing as a designer along the way</h2> -->
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <a class="post-wrapper" href="{{ post.url | relative_url }}">
          <div class="post-overview">
            <h3 class="post-link">{{ post.title | escape }}</h3>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <p class="post-excerpt">{{ post.excerpt }}</p>
          </div>
          <img class="post-image" src="/assets/images/home/{{ post.image }}" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="page-section">
    <span class="page-eyebrow"
      >Outside of the design world I’m working on becoming a better baker and
      runner</span
    >
    <ul class="home-photo-list">
      <li class="home-photo">
        <a class="image-link" href="http://www.instagram.com/bradturner13">
          <img src="/assets/images/carousel/apple-cider-donuts.jpg"/>
        </a>
      </li>
      <li class="home-photo">
        <a class="image-link" href="http://www.instagram.com/bradturner13">
          <img src="/assets/images/carousel/philly-marathon.jpg"/>
        </a>
      </li>
      <li class="home-photo">
        <a class="image-link" href="http://www.instagram.com/bradturner13">
          <img src="/assets/images/carousel/apple-gallete.jpg"/>
        </a>
      </li>
      <li class="home-photo">
        <a class="image-link" href="http://www.instagram.com/bradturner13">
          <img src="/assets/images/carousel/treviso-marathon.jpg"/>
        </a>
      </li>
      <li class="home-photo">
        <a class="image-link" href="http://www.instagram.com/bradturner13">
          <img src="/assets/images/carousel/cinnamon-buns.jpg"/>
        </a>  
        </li>
      <li class="home-photo">
        <a class="image-link" href="http://www.instagram.com/bradturner13">
          <img src="/assets/images/carousel/morning-buns.jpg"/>
        </a>
      </li>
    </ul>
  </div>
</div>
