---
layout: default
---

<div class="home">
  <div class="page-section">
    <span class="page-eyebrow"
      >Hey, I’m Brad – a product designer at Handshake</span
    >
    <div>
      <h1 class="page-heading">
        Let's simplify complex systems, together
      </h1>
      <img
        class="page-heading-image"
        src="/assets/images/home/home-graphic.png"
      />
    </div>
    <a class="page-cta page-cta-primary" href="#footer">Get in touch</a>
  </div>

  {{ content }}
  <div class="page-section">
    <span class="page-eyebrow"
      >I've worked on a diverse set of projects, reflecting and growing along
      the way</span
    >
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <a class="post-wrapper" href="{{ post.url | relative_url }}">
          <div class="post-overview">
            <h3 class="post-link">{{ post.title | escape }}</h3>
            <span class="post-meta">{{ post.date | date: "%b %Y" }}</span>
            <p class="post-excerpt">{{ post.excerpt }}</p>
          </div>
          <img class="post-image" src="/assets/images/home/{{ post.image }}" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="page-section">
    <span class="page-eyebrow"
      >I started designing while studying Software Engineering at Michigan
      Tech</span
    >
    <h2 class="page-section-heading">
      I've been growing as a designer at Handshake for almost 4 years now
    </h2>
    <p>
      Starting as an intern in 2016, I’ve worked on a variety of design projects
      and helped grow our design system and processes as our team grew from 35
      to over 200 employees.
    </p>
    <ul class="home-photo-list add-margin">
      <li class="home-photo">
        <img class="rounded-corners" src="/assets/images/carousel/sprint.jpg" />
      </li>
      <li class="home-photo">
        <img class="rounded-corners" src="/assets/images/carousel/pride.jpg" />
      </li>
    </ul>
    <p>
      I’ve been the lead designer on a variety of projects, collaborating with
      PMs to dig into our challenges and articulate compelling problem
      statements, conducting user research and user testing, and partnering with
      engineers to deliver high quality, accessible experiences.
    </p>
    <p>
      I continue to get excited about digging into complex systems, sharing
      findings with the team and searching for opportunities to simplify them.
    </p>
  </div>

  <div class="page-section">
    <span class="page-eyebrow"
      >Outside of the design world I’m working on becoming a better baker and
      runner</span
    >
    <ul class="home-photo-list">
      <li class="home-photo">
        <a class="image-link" href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3OTAwODMxNTEyMjY5NDk2?igshid=58rl49q8nbd4&story_media_id=2158294193043546763">
          <img src="/assets/images/carousel/apple-cider-donuts.jpg" />
        </a>
      </li>
      <li class="home-photo">
        <a class="image-link" href="https://www.instagram.com/p/B5RLs2dp5o4/?igshid=1vjathoybxl33">
          <img src="/assets/images/carousel/philly-marathon.jpg" />
        </a>
      </li>
      <li class="home-photo">
        <a class="image-link" href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3OTAwODMxNTEyMjY5NDk2?igshid=1fc5dgv1h795t&story_media_id=2178750210264995369">
          <img src="/assets/images/carousel/apple-gallete.jpg" />
        </a>
      </li>
      <li class="home-photo">
        <a class="image-link" href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3OTE2MjQzNzQ4MzQ4ODc0?igshid=1eddm36s85sf2&story_media_id=2153690065813838598">
          <img src="/assets/images/carousel/treviso-marathon.jpg" />
        </a>
      </li>
      <li class="home-photo">
        <a class="image-link" href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3OTAwODMxNTEyMjY5NDk2?igshid=z032f078zvkd&story_media_id=2116914958080758261">
          <img src="/assets/images/carousel/cinnamon-buns.jpg" />
        </a>
      </li>
      <li class="home-photo">
        <a class="image-link" href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3OTAwODMxNTEyMjY5NDk2?igshid=12m5rn4lh40tp&story_media_id=2143028294002408069">
          <img src="/assets/images/carousel/morning-buns.jpg" />
        </a>
      </li>
    </ul>
  </div>
</div>
