---
layout: default
---

<div class="home">
  <div class="page-section">
    <span class="page-eyebrow">Hey, I’m Brad – a product designer</span>
    <div>
      <h1 class="page-heading">
        Let's simplify complex systems, together
      </h1>
      <img
        class="page-heading-image"
        src="/assets/images/home/home-graphic.png"
      />
    </div>
    <a class="page-cta page-cta-primary" href="#footer">Get in touch</a>
  </div>

  {{ content }}
  <div class="page-section">
    <h2 class="page-eyebrow">My work</h2>
    <span class="page-section-heading">I've worked on features, systems, processes, and more</span>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <a class="post-wrapper" href="{{ post.url | relative_url }}">
          <div class="post-overview">
            <span class="post-meta">{{ post.date | date: "%B %Y" }}</span>
            <h3 class="post-link">{{ post.title | escape }}</h3>
            <p class="post-excerpt">{{ post.excerpt }}</p>
          </div>
          <img class="post-image" src="/assets/images/home/{{ post.image }}" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="page-section">
    <h2 class="page-eyebrow">My journey</h2>
    <span class="page-section-heading">I've built products for college student job seekers and Parkinson’s Disease researchers</span>
    <p>
      I started designing while studying Software Engineering at Michigan
      Tech. During my time at Handshake from 2016 to 2020, I worked on a more projects than I can count
      and helped grow our design system and processes as our team grew from 35
      to over 200 employees.
    </p>
    <ul class="home-photo-list add-margin">
      <li class="home-photo">
        <img class="rounded-corners" src="/assets/images/carousel/sprint.jpg" />
      </li>
      <li class="home-photo">
        <img class="rounded-corners" src="/assets/images/carousel/pride.jpg" />
      </li>
    </ul>
    <p>
      I led design on a variety of projects, collaborating with
      PMs to dig into our challenges and articulate compelling problem
      statements, conducting user research and user testing, and partnering with
      engineers to deliver high quality, accessible experiences.
    </p>
    <p>
      I continue to be excited about digging into complex systems, sharing
      findings with my teams and searching for opportunities to simplify them.
    </p>
    <p>
      Outside of the design world I spend my free time running and baking whatever new pastry I most recently discovered.
    </p>
    <ul class="home-photo-list add-margin">
      <li class="home-photo">
        <a
          class="image-link"
          href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3OTAwODMxNTEyMjY5NDk2?igshid=58rl49q8nbd4&story_media_id=2158294193043546763"
        >
          <img src="/assets/images/carousel/apple-cider-donuts.jpg" />
        </a>
      </li>
      <li class="home-photo">
        <a
          class="image-link"
          href="https://www.instagram.com/p/B5RLs2dp5o4/?igshid=1vjathoybxl33"
        >
          <img src="/assets/images/carousel/philly-marathon.jpg" />
        </a>
      </li>
      <li class="home-photo">
        <a
          class="image-link"
          href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3OTAwODMxNTEyMjY5NDk2?igshid=1fc5dgv1h795t&story_media_id=2178750210264995369"
        >
          <img src="/assets/images/carousel/apple-gallete.jpg" />
        </a>
      </li>
    </ul>
  </div>
</div>
